<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>主页</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/layer/skin/layer.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">


    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script type="text/javascript" th:src="@{/style/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/style/layer/layer.js}"></script>
    <style>

        /*页面填满屏幕*/
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .text-center {
            font-weight: 700;
        / / 字体加粗
            /*color: #2b2b2b;*/
        font-size: 40 px;
        }

        #pageContent {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center; /*定义body的元素垂直居中*/
            justify-content: center; /*定义body的里的元素水平居中*/
        }

        #roomManage {
            width: 67%;
            height: 100%;
            margin-top: 110px;
            padding: 0;
            border: 2px groove #6a6665;
        }

        #notification {
            width: 26%;
            height: 100%;
            margin-top: 110px;
            padding: 0;
            border: 2px groove #6a6665;
        }

        .table {
            font-size: 20px;
        }

        #loginALabel {
            position: absolute;
            top: 20px;
            right: 10px;
        }

        #userInfo {
            position: absolute;
            top: 20px;
            left: 10px;
        }

        #modalDiv {
            width: 800px;
        }

        .tableButton {

        }


        /*座位状态框*/
        input[type="checkbox"] + label {
            cursor: pointer;
            font-size: 1em;
        }

        [id^="checkbox-"] + label {
            background-color: #337ab7;
            border: 1px solid #337ab7;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
        }

        [id^="checkbox-"] + label:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }

        input:checked + label {
            background-color: #5cb85c;
            border: 1px solid #5cb85c;
        }

        /*已选*/
        [id ="checkbox-1"]:checked + label {
            background-color: #5cb85c;
            border: 1px solid #5cb85c;
        }

        /*未选*/
        [id="checkbox-2"]:checked + label {
            background-color: #337ab7;
            border: 1px solid #337ab7;
        }

        /*所属*/
        [id="checkbox-3"]:checked + label {
            padding: 9px;
            background-color: #ec971f;
            border: 1px solid #ec971f;
        }

        .pager {
            float: left;
            width: 33%;
            margin: 20px auto;;
        }

        .modalHeader {
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            display: flex;
            align-items: center; /*定义body的元素垂直居中*/
            justify-content: center; /*定义body的里的元素水平居中*/
        }
    </style>

</head>
<body>
<!--登录入口-->
<div id="loginALabel">
    <a href="/login">学生后台入口</a>&emsp;
    <a href="/adminLogin">管理员后台入口</a>
</div>

<button id="userInfo" type="button" class="btn btn-warning"></button>

<!-- 公告显示与添加） -->
<div class="modal fade" id="notify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--添加公告-->
            <div id="addModule">
                <div class="modal-header">
                    <input id="notify-title" type="text" class="form-control" placeholder="请输入公告标题"/>
                    <input id="notify-id" type="hidden" value=""/>
                </div>
                <div class="modal-body">
                    <textarea id="notify-content" class="form-control" rows="20" placeholder="请输入公告内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button id="dubious" type="button" class="btn btn-primary">存为草稿</button>
                    <button id="valid" type="button" class="btn btn-primary">提交更改</button>
                </div>
            </div>
            <!--展示公共-->
            <div id="showModule" style="display: none;">
                <div class="modal-header">
                    <input id="notify-title-show" type="text" class="form-control" readonly='readonly'/>
                    <input id="notify-id-show" type="hidden" value=""/>
                </div>
                <div class="modal-body">
                    <textarea id="notify-content-show" class="form-control" rows="20" readonly="readonly"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 添加教室、添加管理员 -->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modalHeader">
                <button id="addRoomButton" class='btn ' style=" width: 50%; color: white; background-color: #539d38;">
                    添加教室
                </button>&nbsp;
                <button id="addAdminButton" class='btn ' style=" width: 50%; color: white; background-color: #286090;">
                    添加管理员
                </button>&nbsp;
                <button id="viewAdmins" class='btn ' style=" width: 50%; color: white; background-color: #286090;">
                    普通管理员表格
                </button>
            </div>
            <div class="modal-body">
                <div id="addRoomBody">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>教室号：</label>
                                <input type="text" class="form-control" id="createRoomId"
                                       onkeyup="value = value.replace(/[\W]/g,'')"
                                       maxlength="6"
                                       placeholder="请输入教室号">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>楼层数：</label>
                                <input type="number" class="form-control" id="createFloorNumber"
                                       oninput="if (value >= 10) value = 9; if (value <= 0) value = 1;  "
                                       placeholder="请输入楼层数">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>教室宽度：</label>
                                <input type="number" class="form-control" id="createRoomWidth"
                                       oninput="if (value > 100) value = 100; if (value <= 0) value = 1;  "
                                       placeholder="请输入教室宽度">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>教室长度：</label>
                                <input type="number" class="form-control" id="createRoomLong"
                                       oninput="if (value <= 0) value=1; if (value > 100) value =100;  "
                                       placeholder="请输入教室长度">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="addAdminBody" style="display: none;">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>院校名称-归属地：</label>
                                <input type="text" class="form-control" id="shcool-location"
                                       onkeyup="value = value.replace(/[\W]/g,'')"
                                       maxlength="8"
                                       placeholder="请输入管理员密码,默认为:admin">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>院校标识码：</label>
                                <input type="text" class="form-control" id="school-code"
                                       onkeyup="value = value.replace(/[\W]/g,'')"
                                       maxlength="8"
                                       placeholder="请输入管理员密码,默认为:admin">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>管理员姓名：</label>
                                <input type="text" class="form-control" id="createAdminName"
                                       placeholder="请输入管理员姓名">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>管理员账号：</label>
                                <input type="text" class="form-control" id="createAdminAccount"
                                       onkeyup="value = value.replace(/[\W]/g,'')"
                                       maxlength="16"
                                       placeholder="请输入管理员账号">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>管理员密码：</label>
                                <input type="text" class="form-control" id="createAdminPassword"
                                       onkeyup="value = value.replace(/[\W]/g,'')"
                                       maxlength="8"
                                       placeholder="请输入管理员密码,默认为:admin">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="adminsBody" style="display: none;">
                    <table id="adminTable" class="table table-striped">
                        <thead>
                        <tr class="text-center">
                            <td>姓名</td>
                            <td>账户</td>
                            <td>密码</td>
                            <td>创建时间</td>
                            <td>更新时间</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer" id="adminModal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button id="adminCommit" type="button" class="btn btn-primary">
                    提交更改
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- 教室座位模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalDiv">
            <div class="modal-header">
                <button type="button" id="hideFloorNumber" style="display: none" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" align="center" id="myModalLabel">
                    <!--                    模态框（Modal）标题-->
                </h4>

            </div>
            <div id="statusDiv">
                <label style="margin-left: 15px; margin-right: 16px; margin-top: 10px;">状态:</label>
                <input type="checkbox" value="0" class="check_view_state"
                       id="checkbox-3" checked="true" style="display: none;">
                <label for="checkbox-3"></label>
                <span class="status">所属</span>

                <input type="checkbox" value="0" class="check_view_state"
                       id="checkbox-1" checked="true" style="display: none;">
                <label for="checkbox-1"></label>
                <span class="status">已选</span>

                <input type="checkbox" value="1" class="check_view_state"
                       id="checkbox-2" checked="true" style="display: none;">
                <label for="checkbox-2"></label>
                <span class="status">未选</span>
            </div>


            <div class="modal-body " id="roomDiv">
                <table class="table table-striped" id="roomTable">
                    <!--在此处填充表格数据-->
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" id="commit" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<h3 class="text-center">城科图书馆</h3>
<div id="pageContent">
    <!--教室信息管理模块-->
    <div id="roomManage">
        <table id="rooms" class="table table-hover" style="text-align: center;">
            <caption class="text-center" style="color: #333333;">教室</caption>
            <thead>
            <tr>
                <th style="text-align: center;">教室号</th>
                <th style="text-align: center;">楼层</th>
                <th style="text-align: center;">规格</th>
                <th style="text-align: center;">操作</th>
            </tr>
            </thead>
        </table>
    </div>

    <!--告示信息模块-->
    <div id="notification">
        <h4 class="text-center">公告</h4>
        <ul id="notify-group" class="list-group">
        </ul>
        <div class="footer" style="position: fixed; bottom: 6px; width: 26%;">
            <ul class='pager'>
                <li><a href='#' id='notify-previous'>&laquo;</a></li>
            </ul>
            <ul class='pager'>
                <li><a href='#' id='notify-add'>&oplus;</a></li>
            </ul>
            <ul class='pager'>
                <li><a href='#' id='notify-next'>&raquo;</a></li>
            </ul>
        </div>

    </div>
</div>

<script type="text/javascript">

    var roomPageNumber = 1;
    var roomPageMax;
    var notificationPageNumber = 1;
    var notificationPageMax;
    var adminPageNumber = 1;
    var adminPageMax;
    //一加载就执行填充信息  用于记住登录信息
    $(document).ready(function () {
        // 公告栏的创建
        createNotifyModule(notificationPageNumber);
        //发送ajax请求 -- 教室表格的创建
        createRoomTable(1);
        // 获取用户信息
        getAdminInfo();
    });

    //发送ajax请求 -- 教室表格的创建
    function createRoomTable(pageNum) {
        var addRoom = "";
        if (pageNum <= 0) {
            pageNum = 1;
            roomPageNumber = 1;
        } else if (pageNum > roomPageMax) {
            pageNum = roomPageMax;
            roomPageNumber = roomPageMax;
        }
        $("#rooms").find("tbody").remove();
        $("#rooms").find(".footer").remove();
        if ($.cookie("account") === 'admin') {
            addRoom = "<ul class='pager'>\n" +
                "<li><a class='btn btn-primary btn-lg'style='color: #286090;' data-toggle='modal' data-target='#adminModal' id='roomAdd'>添加教室</a></li>\n" +
                "</ul>\n";
            // alert("超级管理员用户")
        }
        $.ajax({
            type: 'GET',
            url: '/findAllRooms',
            data: 'pageNumber=' + pageNum,
            dataType: 'JSON',
            error: function (data) {
                alert("连接超时");
            },
            success: function (data) {
                if (data.code === 200) {
                    var rooms = data.data.list;
                    roomPageMax = data.data.pages;
                    for (var i = 0; i < rooms.length; i++) {
                        var roomStatus = "";
                        if (rooms[i].isValid) {
                            roomStatus = "<button id='roomStatus' class='btn btn-primary ' >禁用</button> &nbsp;"
                        } else {
                            roomStatus = "<button id='roomStatus' class='btn btn-primary ' >启动</button> &nbsp;"
                        }

                        $("#rooms").append("<tr><td>" + rooms[i].id +
                            "</td><td>" + rooms[i].floorNumber +
                            "楼</td><td>" + rooms[i].roomLong + "x" + rooms[i].roomWidth +
                            "</td><td><button class='btn btn-primary tableButton' data-toggle='modal' data-target='#myModal'>座位</button>&nbsp;" +
                            "<button id='modifyRoomSize' class='btn btn-primary '>修改</button>&nbsp;" +
                            roomStatus +
                            // <!-- 按钮触发模态框 -->
                            "</td></tr>"
                        )
                    }
                    $("#rooms").append("<div class='footer'  style=\"position: fixed; bottom: 6px; width: 67%;\">" +
                        "           <ul class='pager'>\n" +
                        "               <li><a href='#' id='roomPrevious'>上一页</a></li>\n" +
                        "           </ul>\n" +
                        addRoom +
                        "           <ul class='pager' style='float: right;'>\n" +
                        "               <li><a href='#' id='roomNext'>下一页</a></li>\n" +
                        "           </ul></div>"
                    )
                } else {
                    alert(data.msg());
                    window.location.href = "/main.html"
                }
            }
        });
    }

    // 公告栏的创建
    function createNotifyModule(pageNum) {
        if (pageNum <= 0) {
            pageNum = 1;
            notificationPageNumber = 1;
        } else if (pageNum > notificationPageMax) {
            pageNum = notificationPageMax;
            notificationPageNumber = notificationPageMax;
        }
        $("#notification").find("#notify-group").empty();
        var requestData = {
            "account": $.cookie('account'),
            "pageNumber": pageNum
        };
        $.ajax({
            type: "POST",
            url: "/findAllNotify",
            data: JSON.stringify(requestData),
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg);
            },
            success: function (responseData) {
                var notifies = responseData.data.list;
                var notifyModule = $("#notify-group");
                notificationPageMax = responseData.data.pages;
                for (var i = 0; i < notifies.length; i++) {
                    var isLooked = "none";
                    if (!notifies[i].looked) {
                        isLooked = "block";
                    }
                    notifyModule.append("<li class=\"list-group-item\">\n" +
                        "                <span style='display:" + isLooked + ";' class='badge'>新</span>\n" +
                        "                <a id='short-title'>" + notifies[i].shortTitle + "</a>\n" +
                        "                <input id='notify-id' type='hidden' value='" + notifies[i].id + "'>\n" +
                        "                <span style=\"float: right;\">" + notifies[i].createAtStr + "</span>\n" +
                        "            </li>");
                }
            }
        })
    };

    // 公共栏的上下翻页
    $("#notification").delegate('#notify-previous', 'click', function () {
        notificationPageNumber = notificationPageNumber - 1;
        createNotifyModule(notificationPageNumber);
    });
    $("#notification").delegate('#notify-next', 'click', function () {
        notificationPageNumber = notificationPageNumber + 1;
        createNotifyModule(notificationPageNumber);
    });

    // 公共信息的展示
    $("#notification").delegate('#short-title', 'click', function () {
        // $(this).next()下一个节点元素
        var notifyId = $(this).next().val();
        var isLooked = $(this).prev().css("display");
        $("#addModule").css({'display': 'none'});
        $("#showModule").css({'display': 'block'});
        if (notifyId === null || notifyId === '' || notifyId === 'undefined') {
            return;
        }
        $.ajax({
            type: "GET",
            url: "findNotify",
            data: "id=" + notifyId,
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg);
            },
            success: function (responseData) {
                var notify = responseData.data;
                $("#notify-id-show").val(notify.id);
                $("#notify-title-show").val(notify.title);
                $("#notify-content-show").text(notify.content);
                $("#notify").modal('show');
                // if (isLooked === 'block') {
                var lookedUserId = notify.lookedUserId;
                lookedUserId[lookedUserId.length] = $.cookie('account');
                var requestData = {
                    "id": notify.id,
                    "lookedUserId": lookedUserId.toString().split(',')
                };
                $.ajax({
                    type: "POST",
                    url: "/lookNotify",
                    data: JSON.stringify(requestData),
                    dataType: "JSON",
                    contentType: "application/json",
                    error: function (responseData) {
                        alert("查看公告失败");
                    },
                    success: function () {
                        createNotifyModule(notificationPageNumber);
                    }
                })
                // }
            }
        })
    });

    // 教室“禁用/启用”
    $("#rooms").delegate('#roomStatus', 'click', function () {
        // 行位置
        var row = $(this).parent().parent().index() + 1;
        // 列位置
        var col = $(this).parent().index() + 1;
        var x = document.getElementById('rooms').rows[row].cells;
        // 教室号
        var roomId = x[0].innerHTML
        // 楼层号
        var floorNumber = x[1].innerHTML.substr(0, 1);
        alert("楼层号：" + floorNumber + "楼，教室号：" + roomId);
        var requestData = {
            "id": roomId,
            "floorNumber": floorNumber
        };
        $.ajax({
            type: "POST",
            url: "/setRoomIsValid",
            data: JSON.stringify(requestData),
            dataType: "JSON",
            contentType: "application/json",
            error: function (data) {
                // alert(data.msg)  -- 当前未添加事务回滚
                alert("数据查询失败")
            },
            success: function (data) {
                alert(data.msg);
                if (data.code === 200) {
                    window.location.href = '/adminMain.html';
                }
            }
        })


    });

    // 管理员“禁用/启用”
    $("#adminTable").delegate('#adminStatus', 'click', function () {
        // 行位置
        var row = $(this).parent().parent().index() + 1;
        // 列位置
        var col = $(this).parent().index() + 1;
        var x = document.getElementById('adminTable').rows[row].cells;
        // 教室号
        var adminAccount = x[1].innerHTML;
        $.ajax({
            type: "GET",
            url: "/setAdminIsValid",
            data: "account=" + adminAccount,
            dataType: "JSON",
            contentType: "application/json",
            error: function (data) {
                // alert(data.msg)  -- 当前未添加事务回滚
                alert("数据查询失败")
            },
            success: function (data) {
                alert(data.msg);
                if (data.code === 200) {
                    findAllAdmins(adminPageNumber);
                }
            }
        })


    });

    // 修改“教室长或宽”
    $("#rooms").delegate('#modifyRoomSize', 'click', function () {
        // 行位置
        var row = $(this).parent().parent().index() + 1;
        // 列位置
        var col = $(this).parent().index() + 1;
        var x = document.getElementById('rooms').rows[row].cells;
        // 教室号
        var roomId = x[0].innerHTML;
        // 楼层号
        var floorNumber = x[1].innerHTML.replace("楼", "");
        // 教室大小
        var roomSize = x[2].innerHTML.split("x");
        // 修改statusDiv状态提示框的display属性
        $("#statusDiv").css('display', 'none');
        $("#myModalLabel").html("修改教室大小");
        // 取消用户信息表单搜索框
        $("#roomTable").bootstrapTable('destroy').bootstrapTable({
            search: false
        });
        document.getElementById("roomTable").innerHTML = "";
        $("#roomTable").append("<tr><td>" +
            "<label for='name'>教室编号：</label>\n" +
            "<input onkeyup=\"value=value.replace(/[\\W]/g,'')\" " +
            " type='text' id='newRoomId' maxlength='6' class=\"form-control\" value=" + roomId +
            " placeholder=\"请输入新的教室编号\">\n" +
            "</td></tr>"
        );
        $("#roomTable").append("<input id='oldRoomId' type='hidden' value='" + roomId + "'/>");
        $("#roomTable").append("<tr><td>" +
            "<label for=\"name\">长度：</label>\n" +
            "<input type=\"number\" id='newRoomWidth' maxlength='6' class=\"form-control\" " +
            "oninput='if (value<=0) value = 1; if (value>99) value=99;  '" +
            " placeholder=\"请输入修改后的教室长度\" value=" + roomSize[0] + ">\n" +
            "</td></tr>");
        $("#roomTable").append("<tr><td>" +
            "<label for=\"name\">宽度：</label>\n" +
            "<input type=\"number\" id='newRoomLength' maxlength='6' class=\"form-control\"" +
            " oninput='if (value>99)value=99; if (value<=0) value=1; '" +
            " placeholder=\"请输入修改后的教室宽度\" value=" + roomSize[1] + ">\n" +
            "</td></tr>");
        $("#roomTable").append("<input id='floorNumber' type='hidden' value='" + floorNumber + "'/>");
        // 显示模态框
        $('#myModal').modal('show');

    });

    function getAdminInfo() {
        // 发送ajax请求 -- 获取用户信息
        $.ajax({
            type: 'GET',
            url: '/getAdminInfo',
            data: 'account=' + $.cookie("account"),
            dataType: 'JSON',
            error: function (data) {
                alert(data.msg)
            },
            success: function (data) {
                var admin = data.data;
                $("#userInfo").html(admin.name);
            }
        })
    }

    // 座位按钮点击事件
    $("#rooms").delegate(".tableButton ", "click", function () {
        // 行位置
        var row = $(this).parent().parent().index() + 1;
        // 列位置
        var col = $(this).parent().index() + 1;
        var x = document.getElementById('rooms').rows[row].cells;
        // 教室号
        var roomId = x[0].innerHTML
        // 楼层号
        var floorNumber = x[1].innerHTML.substr(0, 1);
        alert("楼层号：" + floorNumber + "楼，教室号：" + roomId);
        //发送ajax请求
        $.ajax({
            type: 'GET',
            url: '/findRoom',
            data: 'roomId=' + roomId,
            dataType: 'JSON',
            error: function (data) {
                alert("连接超时");
            },
            success: function (data) {
                if (data.code === 200) {
                    var $table = $('#roomTable');//绑定表格id
                    var room = data.data
                    //设置所要加载的表格列数和行数，已经当前的教室号、楼层号
                    buildTable($table, room.roomWidth, room.roomLong, floorNumber, roomId);
                } else {
                    alert(data.msg())
                    window.location.href = "/firstFloor.html"
                }
            }
        });

    });

    // 教室上下翻页
    $("#rooms").delegate("#roomPrevious", 'click', function () {
        roomPageNumber = roomPageNumber - 1;
        createRoomTable(roomPageNumber);
    });
    $("#rooms").delegate("#roomNext", 'click', function () {
        roomPageNumber = roomPageNumber + 1;
        createRoomTable(roomPageNumber);
    });

    $("body").delegate('#addRoomButton', 'click', function () {
        $(this).css({'background-color': '#539d38'});
        $("#addRoomBody").css({'display': 'block'});
        $("#addAdminButton").css({'background-color': '#286090'});
        $("#addAdminBody").css({'display': 'none'});
        $("#viewAdmins").css({'background-color': '#286090'});
        $("#adminsBody").css({'display': 'none'});
        $("#adminModal-footer").css({'display': 'block'});
    });
    $("body").delegate('#addAdminButton', 'click', function () {
        $(this).css({'background-color': '#539d38'});
        $("#addAdminBody").css({'display': 'block'});
        $("#addRoomButton").css({'background-color': '#286090'});
        $("#addRoomBody").css({'display': 'none'});
        $("#viewAdmins").css({'background-color': '#286090'});
        $("#adminsBody").css({'display': 'none'});
        $("#adminModal-footer").css({'display': 'block'});
    });
    $("body").delegate('#viewAdmins', 'click', function () {
        $(this).css({'background-color': '#539d38'});
        $("#adminsBody").css({'display': 'block'});
        $("#addRoomButton").css({'background-color': '#286090'});
        $("#addRoomBody").css({'display': 'none'});
        $("#addAdminButton").css({'background-color': '#286090'});
        $("#addAdminBody").css({'display': 'none'});
        $("#adminModal-footer").css({'display': 'none'});
        findAllAdmins(adminPageNumber)
    });

    // 查看普通管理员账户信息
    function findAllAdmins(pageNumber) {
        var adminTable = $("#adminTable");
        adminTable.find("tbody").remove();
        if (pageNumber <= 0) {
            pageNumber = 1;
            adminPageNumber = 1;
        } else if (adminPageNumber > adminPageMax) {
            pageNumber = adminPageMax;
            adminPageNumber = adminPageMax;
        }
        $.ajax({
            type: "GET",
            url: "findAllAdmins",
            data: "pageNumber=" + pageNumber,
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg)
            },
            success: function (responseData) {
                var admins = responseData.data.list;
                adminPageMax = responseData.data.pages;
                var adminStatus;
                adminTable.append("<tbody>");
                for (var i = 0; i < admins.length; i++) {
                    if (admins[i].isValid) {
                        adminStatus = "<button id='adminStatus' class='btn btn-primary ' >禁用</button>";
                    } else {
                        adminStatus = "<button id='adminStatus' class='btn btn-primary ' >启用</button>"
                    }
                    adminTable.append("<tr><td>" + admins[i].name +
                        "</td><td>" + admins[i].account +
                        "</td><td>" + admins[i].password +
                        "</td><td>" + admins[i].createAtStr +
                        "</td><td>" + admins[i].updateAtStr +
                        "</td><td>" + adminStatus +
                        "</td></tr>"
                    );
                }
                adminTable.append("<tr><td colspan='3'>" +
                    "   <ul class='pager'>\n" +
                    "       <li><a href='#' id='adminPrevious'>&laquo;Previous</a></li>\n" +
                    "   </ul></td>" +
                    "<td colspan='3'>" +
                    "   <ul class='pager' style='float: right;'>\n" +
                    "       <li><a href='#' id='adminNext'>Next&raquo;</a></li>\n" +
                    "   </ul></td>" +
                    "</tr></tbody>");
            }
        })
    };

    // 管理员用户表上下翻页
    $("#adminTable").delegate('#adminPrevious', 'click', function () {
        // alert("管理员用户上一页");
        // return;
        adminPageNumber = adminPageNumber - 1;
        findAllAdmins(adminPageNumber);
    });
    $("#adminTable").delegate('#adminNext', 'click', function () {
        // alert("管理员用户下一页");
        // return;
        adminPageNumber = adminPageNumber + 1;
        findAllAdmins(adminPageNumber);
    });

    // 添加教室、普通管理员
    $("body").delegate('#adminCommit', 'click', function () {
        var requestData = "";
        if ($("#addRoomBody").css("display") === 'block') {   // 判断visibility样式属性
            var createRoomId = $("#createRoomId").val();
            var createFloorNumber = $("#createFloorNumber").val();
            var createRoomWidth = $("#createRoomWidth").val();
            var createRoomLong = $("#createRoomLong").val();
            if (createRoomId === '' || createRoomLong === '' || createRoomWidth === '' || createFloorNumber === '') {
                alert("请检查您填写的数据是否完善");
                return;
            }
            requestData = {
                "id": createRoomId,
                "floorNumber": createFloorNumber,
                "roomWidth": createRoomWidth,
                "roomLong": createRoomLong,
                "isValid": false
            };

            $.ajax({
                type: "POST",
                url: "/createRoom",
                data: JSON.stringify(requestData),
                dataType: "JSON",
                contentType: "application/json",
                error: function (data) {
                    alert(data.msg);
                },
                success: function (data) {
                    alert(data.msg);
                    if (data.code === 200) {
                        $("#createRoomId").val("");
                        $("#createFloorNumber").val("");
                        $("#createRoomWidth").val("");
                        $("#createRoomLong").val("");
                        // 关闭模态框
                        $('#adminModal').modal('hide');
                        createRoomTable(roomPageNumber);
                    }

                }
            })

        }// 添加教室
        else if ($("#addAdminBody").css("display") === 'block') {
            var createAdminName = $("#createAdminName").val();
            var createAdminAccount = $("#createAdminAccount").val();
            var createAdminPassword = $("#createAdminPassword").val();
            if (createAdminAccount === '' || createAdminName === '') {
                alert("请检查您填写的数据是否完善");
                return;
            }
            if (createAdminPassword === '') {
                createAdminPassword = "admin";
            }
            requestData = {
                "name": createAdminName,
                "account": createAdminAccount,
                "password": createAdminPassword,
                "isValid": false
            };
            var sure = confirm("管理员账户无法修改请谨慎提交");
            if (sure) {
                $.ajax({
                    type: "POST",
                    url: "/addAdmin",
                    data: JSON.stringify(requestData),
                    dataType: "JSON",
                    contentType: "application/json",
                    error: function (responseData) {
                        alert(responseData.msg);
                    },
                    success: function (responseData) {
                        alert(responseData.msg)
                        if (responseData.code === 200) {
                            $("#createAdminName").val("");
                            $("#createAdminAccount").val("");
                            $("#createAdminPassword").val("");
                            $("#adminModal").modal('hide');
                        }
                    }
                })
            }
        }
    });

    // 添加公告
    $("#notification").delegate('#notify-add', 'click', function () {
        $("#notify").modal('show');
        $("#addModule").css({'display': 'block'});
        $("#showModule").css({'display': 'none'});
        if ($("#notify-title").val() !== '' || $("#notify-title").val() === ' ' || $("#notify-content").val() !== '' || $("#notify-content").val() === ' ') {
            return;
        }
        $.ajax({
            type: "GET",
            url: "/hasDubiousNotify",
            data: "account=" + $.cookie('account'),
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg);
            },
            success: function (responseData) {
                if (responseData.code === 200) {
                    var notify = responseData.data;
                    // 是否需要重新加载草稿。
                    var sure = confirm(responseData.msg);
                    if (sure) {
                        $("#notify-title").val(notify.title);
                        var notifyContent = notify.content;
                        $("#notify-content").val(notifyContent);
                        $("#notify-id").val(notify.id);
                    } else {
                        updateNotifyStatus()
                    }
                }
            }
        })
    });

    // 发送新建的“公告”json数据--有效
    $("#notify").delegate('#valid', 'click', function () {
        var notifyTitle = $("#notify-title").val();
        var notifyContent = $("#notify-content").val();
        var requestData;
        if (notifyTitle === '' || notifyTitle === ' ' || notifyContent === '' || notifyContent === ' ') {
            alert("请检查您的公共信息填写是否规范");
            return;
        }
        requestData = {
            "id": $("#notify-id").val(),
            "account": $.cookie('account'),
            "title": notifyTitle,
            "content": notifyContent,
            "status": 1,
            "isValid": true,
            "lookedUserId": new Array($.cookie('account'))
        };
        $.ajax({
            type: "POST",
            url: "/addNotify",
            data: JSON.stringify(requestData),
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg);
            },
            success: function (responseData) {
                alert(responseData.msg);
                if (responseData.code === 200) {
                    $("#notify-title").val("");
                    $("#notify-content").val("");
                    $("#notify").modal('hide');
                    createNotifyModule(notificationPageNumber);
                }
            }
        })
    });
    // 发送新建的“公告”json数据--草稿
    $("#notify").delegate('#dubious', 'click', function () {
        var notifyTitle = $("#notify-title").val();
        var notifyContent = $("#notify-content").val();
        var requestData;
        if (notifyTitle === '' || notifyTitle === ' ' || notifyContent === '' || notifyContent === ' ') {
            alert("请检查您的公共信息填写是否规范");
            return;
        }
        requestData = {
            "id": $("#notify-id").val(),
            "account": $.cookie('account'),
            "title": notifyTitle,
            "content": notifyContent,
            "status": 0,
            "isValid": true,
            "lookedUserId": new Array($.cookie('account'))
        };
        $.ajax({
            type: "POST",
            url: "/addNotify",
            data: JSON.stringify(requestData),
            dataType: "JSON",
            contentType: "application/json",
            error: function (responseData) {
                alert(responseData.msg);
            },
            success: function (responseData) {
                alert(responseData.msg);
                if (responseData.code === 200) {
                    $("#notify-title").val("");
                    $("#notify-content").val("");
                    $("#notify").modal('hide');
                }
            }
        })
    });

    // 删除管理员草稿状态的公共
    function updateNotifyStatus() {
        $.ajax({
            type: "GET",
            url: "/updateNotifyStatus",
            data: "account=" + $.cookie('account'),
            dataType: "JSON",
            contentType: "application/json",
            error: function () {
                alert("服务器端错误");
            },
            success: function () {
                // alert("成功");
            }
        });
    }

    // userInfo按钮点击事件
    $('#userInfo').on('click',
        function () {
            // 修改statusDiv状态提示框的display属性
            $("#statusDiv").css('display', 'none');
            $("#myModalLabel").html("修改密码");
            // 用户信息表单
            $("#roomTable").bootstrapTable('destroy').bootstrapTable({
                search: false
            });
            document.getElementById("roomTable").innerHTML = "";
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">新的账户名称：</label>\n" +
                "<input type=\"text\" id='newAdminName' maxlength='6'value='" + $(this).text() + "' class=\"form-control\" placeholder=\"请输入新的账户名称，默认不改变\">\n" +
                "</td></tr>");
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">原密码：</label>\n" +
                "<input type=\"password\" id='oldPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入原密码\">\n" +
                "</td></tr>");
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">新密码：</label>\n" +
                "<input type=\"password\" id='newPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入新密码\">\n" +
                "</td></tr>");
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">确认新密码：</label>\n" +
                "<input type=\"password\" id='confirmPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入新密码\">\n" +
                "</td></tr>");
            // 显示模态框
            $('#myModal').modal('show')
        });

    // 创建座位表格
    function buildTable($el, cells, rows, floorNumber, roomId) {
        var chairData = {
            "roomId": roomId,
            "floorNumber": floorNumber
        };

        //发送ajax请求
        $.ajax({
            type: 'POST',
            url: '/occupyChairs',
            data: JSON.stringify(chairData),
            dataType: 'JSON',
            contentType: "application/json",
            error: function (data) {
                alert("连接超时");
            },
            success: function (chairData) {
                var chairs = chairData.data;
                var i, j, row,
                    columns = [],
                    data = [];
                // 修改statusDiv状态提示框的display属性
                $("#statusDiv").css('display', 'block');
                $('#myModalLabel').html(roomId + "教室");
                $('#hideFloorNumber').html(floorNumber);
                for (i = 1; i <= cells; i++) {
                    columns.push({
                        field: 'field' + i,
                        title: '第' + i + '列',
                        sortable: true
                    });
                }
                for (i = 1; i <= rows; i++) {
                    row = {};
                    for (j = 1; j <= cells; j++) {
                        var checkboxValue = i + "-" + j;
                        row['field' + j] = "<input type='checkbox' value=" + checkboxValue + " class='check_view_state' name='chair' id=checkbox-" + checkboxValue + " style='display: none;'>\n" +
                            "<label style='font-size:19px; font-weight: normal; color: white' for=checkbox-" + checkboxValue + ">" + i + " - " + j + "</label>"
                        for (var k = 0; k < chairs.length; k++) {
                            // 所属
                            if (i === chairs[k].crow && j === chairs[k].cell && chairs[k].userId !== $.cookie("account")) {
                                row['field' + j] = "<button type='button' class='btn btn-success' title='" + chairs[k].processionGrade +
                                    "' data-container= 'body' data-toggle= 'popover' data-placement='bottom'" +
                                    " data-content= '" + chairs[k].userId + "' > " + chairs[k].userName + " </button>"
                                break;
                            }  // 非本人所属
                            else if (i === chairs[k].crow && j === chairs[k].cell && chairs[k].userId === $.cookie("account")) {
                                row['field' + j] = "<button type='button' class='btn btn-warning' title='" + chairs[k].processionGrade +
                                    "' data-container= 'body' data-toggle= 'popover' data-placement='bottom'" +
                                    " data-content= '" + chairs[k].userId + "' > " + chairs[k].userName + " </button>"
                                break;
                            }
                        }
                    }
                    data.push(row);
                }
                $el.bootstrapTable('destroy').bootstrapTable({
                    columns: columns,
                    data: data,
                    search: true,
                    toolbar: '.toolbar'
                });

                // 选座信息提示框
                $(function () {
                    $("[data-toggle='popover']").popover();
                });

            }
        });
    }

    // 发送选中的座位数据、新的密码、修改后教室长宽
    $("body").delegate("#commit", "click", function () {
        var modalTitle = $("#myModalLabel").text();
        // 修改教室大小
        if (modalTitle.indexOf("修改教室大小") !== -1) {
            var floorNumber = $("#floorNumber").val();
            var newRoomId = $("#newRoomId").val();
            var oldRoomId = $("#oldRoomId").val();
            var newRoomWidth = $("#newRoomWidth").val();
            var newRoomLength = $("#newRoomLength").val();
            var requestData = {
                "floorNumber": floorNumber,
                "oldRoomId": oldRoomId,
                "newRoomId": newRoomId,
                "roomWidth": newRoomWidth,
                "roomLong": newRoomLength
            };
            alert(JSON.stringify(requestData));
            $.ajax({
                type: "POST",
                url: "modifyRoomSize",
                data: JSON.stringify(requestData),
                dataType: "JSON",
                contentType: "application/json",
                error: function (data) {
                    alert(data.msg);
                }, success: function (data) {
                    alert(data.msg);
                    if (data.code === 200) {
                        window.location.href = "/adminMain.html";
                    }
                }
            })
        }// 选座
        else if (modalTitle.indexOf("教室") !== -1) {
            var checkboxs = document.getElementsByName("chair");
            var chairInfo = new Array();
            for (var i = 0; i < checkboxs.length; i++) {
                if (checkboxs[i].checked) {
                    chairInfo.push(checkboxs[i].value)
                }
            }
            if (chairInfo.length === 0) {
                alert("请至少选择一个座位");
                return;
            }

            var chairData = new Array();
            // 处理座位信息为行、列
            for (var i = 0; i < chairInfo.length; i++) {
                var strs = chairInfo[i].split("-");

                // 封装座位信息
                var ajaxData = {
                    "roomId": $('#myModalLabel').text().replace("教室", ""),
                    "floorNumber": $('#hideFloorNumber').text(),
                    "crow": strs[0],
                    "cell": strs[1],
                    "userId": $.cookie("account"),
                    "isValid": true,
                    "isOccupy": true,
                    "status": 4
                };
                chairData[i] = ajaxData;
            }

            // alert(JSON.stringify(chairData))
            // 发送数据
            $.ajax({
                type: 'POST',
                url: '/selectChair',
                data: JSON.stringify(chairData),
                dataType: 'JSON',
                contentType: "application/json",
                error: function (data) {
                    // 后台返回错误信息
                    alert(data.msg);
                },
                success: function (data) {
                    if (data.code === 502) {
                        alert(data.msg)
                    } else {
                        alert("选座成功，三秒后跳转回主页")
                        setTimeout(function () {
                            window.location.href = "/adminMain.html", 2000
                        });
                    }
                }
            });
        } // 修改密码、账户名称
        else if (modalTitle.indexOf("修改密码") !== -1) {
            var newAdminName = $("#newAdminName");
            var oldPassword = $("#oldPassword");
            var newPassword = $("#newPassword");
            var confirmPassword = $("#confirmPassword");
            if (oldPassword.val() !== $.cookie("password")) {
                oldPassword.val("");
                alert("您输入的原密码错误，请重新输入。")
                return;
            }
            if (newPassword.val() === $.cookie("password")) {
                oldPassword.val("");
                newPassword.val("");
                confirmPassword.val("");
                alert("您输入的密码与新密码重复，请重新输入。");
                return;
            }
            if (newPassword.val() !== confirmPassword.val()) {
                newPassword.val("");
                confirmPassword.val("");
                alert("您两次输入的新密码不一致，请重新输入。");
                return;
            }
            $.cookie("password", newPassword.val());
            var jsonData = {
                "name": newAdminName.val(),
                "account": $.cookie("account"),
                "password": newPassword.val(),
                "userType": 1
            };
            $.ajax(
                {
                    type: "POST",
                    url: "/adminResetPassword",
                    data: JSON.stringify(jsonData),
                    dataType: 'JSON',
                    contentType: "application/json",
                    error: function (data) {
                        alert(data.msg)
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            alert("密码已经修改成功，请重新登录")
                            window.location.href = "/adminLogin"
                        }
                    }
                }
            );
        }

    });


</script>


</body>
</html>