<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>主页</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style/layer/skin/layer.css}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.css" rel="stylesheet">


    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.16.0/bootstrap-table.min.js"></script>
    <script type="text/javascript" th:src="@{/style/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/style/layer/layer.js}"></script>
    <style>
        .text-center {
            font-weight: 700;
        / / 字体加粗
            /*color: #2b2b2b;*/
        font-size: 40 px;
        }

        .table {
            font-size: 20px;
        }

        #loginALabel {
            position: absolute;
            top: 20px;
            right: 10px;
        }

        #modalDiv {
            width: 800px;
        }

        .tableButton {

        }


        /*座位状态框*/
        input[type="checkbox"] + label {
            cursor: pointer;
            font-size: 1em;
        }

        [id^="checkbox-"] + label {
            background-color: #337ab7;
            border: 1px solid #337ab7;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 9px;
            border-radius: 3px;
            display: inline-block;
            vertical-align: middle;
        }

        [id^="checkbox-"] + label:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }

        input:checked + label {
            background-color: #5cb85c;
            border: 1px solid #5cb85c;
        }

        /*已选*/
        [id ="checkbox-1"]:checked + label {
            background-color: #5cb85c;
            border: 1px solid #5cb85c;
        }

        /*未选*/
        [id="checkbox-2"]:checked + label {
            background-color: #337ab7;
            border: 1px solid #337ab7;
        }

        /*所属*/
        [id="checkbox-3"]:checked + label {
            padding: 9px;
            background-color: #ec971f;
            border: 1px solid #ec971f;
        }



    </style>

</head>
<body>

<!--修改用户信息按钮-->
<div id="loginALabel">
    <button id="userInfo" type="button" class="btn btn-success"></button>
</div>
<!-- 教室座位模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalDiv">
            <div class="modal-header">
                <button type="button" id="hideFloorNumber" style="display: none" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" align="center" id="myModalLabel">
                    <!--                    模态框（Modal）标题-->
                </h4>
            </div>
            <div id="statusDiv">
                <label style="margin-left: 15px; margin-right: 16px; margin-top: 10px;">状态:</label>
                <input type="checkbox" value="0" class="check_view_state"
                       id="checkbox-3" checked="true" style="display: none;">
                <label for="checkbox-3"></label>
                <span class="status">所属</span>

                <input type="checkbox" value="0" class="check_view_state"
                       id="checkbox-1" checked="true" style="display: none;">
                <label for="checkbox-1"></label>
                <span class="status">已选</span>

                <input type="checkbox" value="1" class="check_view_state"
                       id="checkbox-2" checked="true" style="display: none;">
                <label for="checkbox-2"></label>
                <span class="status">未选</span>
            </div>


            <div class="modal-body " id="roomDiv">
                <table class="table table-striped" id="roomTable">
                    <!--在此处填充表格数据-->
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" id="commit" class="btn btn-primary">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<h3 class="text-center">城科图书馆</h3>
<table id="rooms" class="table table-hover" style="margin-top: 10px">
    <thead>
    <tr>
        <th>教室号</th>
        <th>楼层</th>
        <th>规格</th>
        <th>操作</th>
    </tr>
    </thead>
</table>

<!--页面底部导航栏-->
<div class="footer" style="position: fixed; bottom: 6px; ">
    <div class=" btn-group btn-group-justified"
         style="width: 70%; margin: 0 auto;">
        <a href="/morning" class="btn btn-primary">上午</a>
        <a href="/afternoon" class="btn btn-primary" style="background-color: #5cb85c;">下午</a>
        <a href="/night" class="btn btn-primary">晚上</a>
        <a href="/allDay" class="btn btn-primary">整天</a>
    </div>
</div>

<script type="text/javascript">

    //一加载就执行填充信息  用于记住登录信息
    $(document).ready(function () {

        //发送ajax请求 -- 教室表格的创建
        $.ajax({
            type: 'GET',
            url: '/findValidRooms',
            // data: 'floorNumber=' + 1,
            dataType: 'JSON',
            error: function (data) {
                alert("连接超时");
            },
            success: function (data) {
                if (data.code === 200) {
                    var rooms = data.data
                    for (var i = 0; i < rooms.length; i++) {
                        $("#rooms").append("<tr><td>" + rooms[i].id +
                            "</td><td>" + rooms[i].floorNumber +
                            "楼</td><td>" + rooms[i].roomLong + "x" + rooms[i].roomWidth +
                            "</td><td><button  class=\"btn btn-primary \" data-toggle=\"modal\" data-target=\"#myModal\">" +
                            "座位</button>"
                            // <!-- 按钮触发模态框 -->
                            +
                            "</td></tr>")
                    }
                } else {
                    alert(data.msg())
                    window.location.href = "/main.html"
                }
            }
        });
        // 获取用户信息
        getUserInfo();
    })


    function getUserInfo() {
        // 发送ajax请求 -- 获取用户信息
        $.ajax({
            type: 'GET',
            url: '/getUserInfo',
            data: 'account=' + $.cookie("account") + "&password=" + $.cookie("password"),
            dataType: 'JSON',
            error: function (data) {
                alert(data.msg)
            },
            success: function (data) {
                var student = data.data;
                $("#userInfo").html(student.studentName);
            }
        })
    }

    // 座位按钮点击事件
    $("#rooms").delegate(".tableButton ", "click", function () {
        // 行位置
        var row = $(this).parent().parent().index() + 1;
        // 列位置
        var col = $(this).parent().index() + 1;
        var x = document.getElementById('rooms').rows[row].cells;
        // 教室号
        var roomId = x[0].innerHTML
        // 楼层号
        var floorNumber = x[1].innerHTML.substr(0, 1)
        alert("楼层号：" + floorNumber + "楼，教室号：" + roomId)
        //发送ajax请求
        $.ajax({
            type: 'GET',
            url: '/findRoom',
            data: 'roomId=' + roomId,
            dataType: 'JSON',
            error: function (data) {
                alert("连接超时");
            },
            success: function (data) {
                if (data.code === 200) {
                    var $table = $('#roomTable');//绑定表格id
                    var room = data.data
                    //设置所要加载的表格列数和行数，已经当前的教室号、楼层号
                    buildTable($table, room.roomWidth, room.roomLong, floorNumber, roomId);
                } else {
                    alert(data.msg())
                    window.location.href = "/firstFloor.html"
                }
            }
        });

    });


    // userInfo按钮点击事件
    $('#userInfo').on('click',
        function () {
            // 修改statusDiv状态提示框的display属性
            $("#statusDiv").css('display', 'none');
            $("#myModalLabel").html("修改密码")
            // 用户信息表单
            $("#roomTable").bootstrapTable('destroy').bootstrapTable({
                search: false
            });
            document.getElementById("roomTable").innerHTML = "";
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">原密码：</label>\n" +
                "<input type=\"password\" id='oldPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入原密码\">\n" +
                "</td></tr>");
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">新密码：</label>\n" +
                "<input type=\"password\" id='newPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入新密码\">\n" +
                "</td></tr>");
            $("#roomTable").append("<tr><td>" +
                "<label for=\"name\">确认新密码：</label>\n" +
                "<input type=\"password\" id='confirmPassword' maxlength='6' class=\"form-control\" placeholder=\"请输入新密码\">\n" +
                "</td></tr>");
            // 显示模态框
            $('#myModal').modal('show')
        });

    // 创建表格
    function buildTable($el, cells, rows, floorNumber, roomId) {
        var chairData = {
            "roomId": roomId,
            "floorNumber": floorNumber
        };

        //发送ajax请求
        $.ajax({
            type: 'POST',
            url: '/occupyChairs',
            data: JSON.stringify(chairData),
            dataType: 'JSON',
            contentType: "application/json",
            error: function (data) {
                alert("连接超时");
            },
            success: function (chairData) {
                var chairs = chairData.data;
                var i, j, row,
                    columns = [],
                    data = [];
                // 修改statusDiv状态提示框的display属性
                $("#statusDiv").css('display', 'block');
                $('#myModalLabel').html(roomId + "教室");
                $('#hideFloorNumber').html(floorNumber);
                for (i = 1; i <= cells; i++) {
                    columns.push({
                        field: 'field' + i,
                        title: '第' + i + '列',
                        sortable: true
                    });
                }
                for (i = 1; i <= rows; i++) {
                    row = {};
                    for (j = 1; j <= cells; j++) {
                        var checkboxValue = i + "-" + j;
                        row['field' + j] = "<input type='checkbox' value=" + checkboxValue + " class='check_view_state' name='chair' id=checkbox-" + checkboxValue + " style='display: none;'>\n" +
                            "<label style='font-size:19px; font-weight: normal; color: white' for=checkbox-" + checkboxValue + ">" + i + " - " + j + "</label>"
                        for (var k = 0; k < chairs.length; k++) {
                            // 非本人所属
                            if (i === chairs[k].crow && j === chairs[k].cell && chairs[k].userId !== $.cookie("account")) {
                                row['field' + j] = "<button type='button' class='btn btn-success' title='" + chairs[k].processionGrade +
                                    "' data-container= 'body' data-toggle= 'popover' data-placement='bottom'" +
                                    " data-content= '" + chairs[k].userId + "' > " + chairs[k].userName + " </button>"
                                break;
                            } // 所属
                            else if (i === chairs[k].crow && j === chairs[k].cell && chairs[k].userId === $.cookie("account")) {
                                row['field' + j] = "<button type='button' class='btn btn-warning' title='" + chairs[k].processionGrade +
                                    "' data-container= 'body' data-toggle= 'popover' data-placement='bottom'" +
                                    " data-content= '" + chairs[k].userId + "' > " + chairs[k].userName + " </button>"
                                break;
                            }
                        }
                    }
                    data.push(row);
                }
                $el.bootstrapTable('destroy').bootstrapTable({
                    columns: columns,
                    data: data,
                    search: true,
                    toolbar: '.toolbar'
                });

                // 选座信息提示框
                $(function () {
                    $("[data-toggle='popover']").popover();
                });

            }
        });
    }


    // 发送选中的座位数据、新的密码
    $("body").delegate("#commit", "click", function () {
        if ($("#statusDiv").css("display") === 'block') {
            var checkboxs = document.getElementsByName("chair");
            var chairInfo = new Array();
            for (var i = 0; i < checkboxs.length; i++) {
                if (checkboxs[i].checked) {
                    chairInfo.push(checkboxs[i].value)
                }
            }
            if (chairInfo.length > 4) {
                alert("您选择的座位太多，我规定最多只能选择4个。而您选中了" + chairInfo.length + "个")
                return
            } else if (chairInfo.length === 0) {
                alert("请至少选择一个座位")
                return
            }

            var chairData = new Array();
            // 处理座位信息为行、列
            for (var i = 0; i < chairInfo.length; i++) {
                var strs = chairInfo[i].split("-");

                // 封装座位信息
                var ajaxData = {
                    "roomId": $('#myModalLabel').text().replace("教室", ""),
                    "floorNumber": $('#hideFloorNumber').text(),
                    "crow": strs[0],
                    "cell": strs[1],
                    "userId": $.cookie("account"),
                    "isValid": true,
                    "isOccupy": true,
                    "status": 2
                };
                chairData[i] = ajaxData;
            }

            // alert(JSON.stringify(chairData))
            // 发送数据
            $.ajax({
                type: 'POST',
                url: '/selectChair',
                data: JSON.stringify(chairData),
                dataType: 'JSON',
                contentType: "application/json",
                error: function (data) {
                    // 后台返回错误信息
                    alert(data.msg);
                },
                success: function (data) {
                    if (data.code === 502) {
                        alert(data.msg)
                    } else {
                        alert("选座成功，三秒后跳转回主页")
                        setTimeout(function () {
                            window.location.href = "/main.html", 2000
                        });
                    }
                }
            });
        }
        if ($("#statusDiv").css("display") === 'none') {
            var oldPassword = $("#oldPassword");
            var newPassword = $("#newPassword");
            var confirmPassword = $("#confirmPassword");
            if (oldPassword.val() !== $.cookie("password")) {
                oldPassword.val("");
                alert("您输入的原密码错误，请重新输入。")
                return;
            }
            if (newPassword.val() === $.cookie("password")) {
                oldPassword.val("");
                newPassword.val("");
                confirmPassword.val("");
                alert("您输入的密码与新密码重复，请重新输入。");
                return;
            }
            if (newPassword.val() === confirmPassword.val("")) {
                newPassword.val("");
                confirmPassword.val("");
                alert("您两次输入的新密码不一致，请重新输入。");
                return;
            }
            if ( newPassword.val().length < 6){
                newPassword.val("");
                confirmPassword.val("");
                alert("您输入的密码长度不够，必须是6位")
                return;
            }
            $.cookie("password", newPassword.val());
            var jsonData = {
                "account": $.cookie("account"),
                "password": newPassword.val(),
                "userType": 1
            };
            $.ajax(
                {
                    type: "POST",
                    url: "/userResetPassword",
                    data: JSON.stringify(jsonData),
                    dataType: 'JSON',
                    contentType: "application/json",
                    error: function (data) {
                        alert(data.msg)
                    },
                    success: function (data) {
                        if (data.code === 200) {
                            alert("密码已经修改成功，请重新登录")
                            window.location.href = "/login"
                        }
                    }
                }
            );
        }

    })


</script>


</body>
</html>