<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/style/js/chair.js}" charset="UTF-8"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.js"></script>
    <style>

        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .btnSelect {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center; /*定义body的元素垂直居中*/
            justify-content: center; /*定义body的里的元素水平居中*/
        }

        #loginALabel {
            position: absolute;
            top: 20px;
            right: 10px;
        }

        #userTable {
            width: 60%;
            height: 100%;
            margin-top: 110px;
            padding: 0;
            border: 2px groove #6a6665;
        }

        #chairRecord {
            width: 35%;
            height: 100%;
            margin-top: 110px;
            padding: 0;
            border: 2px groove #6a6665;
        }


    </style>
</head>

<body class="text-center">
<h1 class="text-center">城科图书馆座位管理系统</h1>
<div id="loginALabel">
    <a href="/login">学生后台入口</a>&emsp;
    <a href="/adminLogin">管理员后台入口</a>
</div>


<div id="pageContent" class="btnSelect">

    <!--用户信息模块-->
    <div id="userTable" style="display: inline">

        <table style="border: 1px ; margin: 0 auto; background: snow" width="100%" height="73%" cellpadding="5"
               cellspacing="0">
            <caption class="text-center"><h4 style="font-weight: bold; color: #333333"> 用户信息</h4></caption>
            <tr>
                <td>姓名：</td>
                <td id="userName">用户姓名</td>
                <td>性别：</td>
                <td id="userSex">男或女</td>
            </tr>

            <tr>
                <td>学号：</td>
                <td id="userId">用户ID</td>
                <td>专业年级：</td>
                <td id="processionGrade">用户专业年级</td>

            </tr>
            <tr>

                <td colspan="2">选座次数：</td>

                <td colspan="2" id="totalCount">总共的选中次数</td>

            </tr>

            <tr>

                <td colspan="2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            选&emsp;&emsp;座
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a id="morning" class="btn btn-default" href="/morning" role="button">上午</a></li>
                            <li><a id="afternoon" class="btn btn-default" href="/afternoon" role="button">下午</a></li>
                            <li><a id="night" class="btn btn-default" href="/night" role="button">晚上</a></li>
                            <li><a id="allDay" class="btn btn-default" href="/allDay" role="button">整天</a></li>
                        </ul>
                    </div>
                </td>

                <td colspan="2">
                    <a id="cancel" class="btn btn-default" href="/cancel" role="button">取消选座</a>
                </td>

            </tr>

        </table>

    </div>

    <!--选座记录信息模块-->
    <div id="chairRecord" style="display: inline">
        <table class="table" style="border-collapse: separate; border-spacing: 2px" id="recordInfo">
            <caption class="text-center"><h4 style="font-weight: bold; color: #333333"> 记录信息</h4></caption>
            <thead>
            <tr>
                <!-- 1楼B001 -->
                <th class="text-center">教室</th>
                <!-- 3行4列 -->
                <th class="text-center">行-列</th>
                <!-- 过期：红色，未过期：绿色 -->
                <th class="text-center">状态</th>
                <!--10/11/2013上午-->
                <th class="text-center">选座日期</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

<script type="text/javascript">
    // 当前页
    var pageNumber = 1;
    // 最大页数
    var maxSize;
    //一加载就执行填充信息  用于记住登录信息
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "/getDetailUserInfo",
            data: "account=" + $.cookie("account"),
            dataType: 'JSON',
            error: function (response) {
                alert(response.msg)
            },
            success: function (response) {
                var jsonData = response.data;
                if (response.code === 200) {
                    $("#userId").text(jsonData.userId)
                    $("#userName").text(jsonData.userName)
                    $("#userAge").text(jsonData.userAge)
                    if (jsonData.userSex === 1) {
                        $("#userSex").text("男")
                    } else {
                        $("#userSex").text("女")
                    }
                    $("#processionGrade").text(jsonData.processionGrade);
                    $("#totalCount").text(jsonData.totalCount + "次");
                    // 未选中座位绑定点击事件弹出提示框
                    if (jsonData.validCount === 0) {
                        $("#cancel").on("click", function () {
                            alert("您还没有选中座位");
                            // 返回值为false <a>不跳转
                            return false;
                        });
                    }
                }
            }
        })

        // 填写用户选座信息
        getUserInfoOfSelectedChair(pageNumber)
        //控制选座时间
        setChairStatus();
    });


    // 用户记录信息表
    function getUserInfoOfSelectedChair(pageNum) {
        if (pageNum <= 0) {
            pageNum = 1;
            pageNumber = 1;
        } else if (pageNum > maxSize) {
            pageNumber = maxSize;
            pageNum = maxSize;
        }
        $.ajax({
            url: "/getUserInfoOfSelectedChair",
            type: "GET",
            data: "account=" + $.cookie("account") + "&pageNumber=" + pageNum,
            dataType: "JSON",
            error: function () {
                alert("渲染用户选座信息失败");
            },
            success: function (data) {
                maxSize = data.data.pages;
                var chairInfo = data.data.list;
                var status = "";
                // 过期、未过期
                var isValid;
                var info;
                for (var i = 0; i < chairInfo.length; i++) {
                    info = chairInfo[i];
                    // 全天
                    if (info.status === 0) {
                        status = "danger";
                    }// 上午
                    else if (info.status === 1) {
                        status = "success";
                    }// 下午
                    else if (info.status === 2) {
                        status = "active";
                    } // 晚上
                    else if (info.status === 3) {
                        status = "warning";
                    }
                    if (info.isValid) {
                        isValid = "未过期";
                        $("#recordInfo").append("<tr id='infoFlag' class='" + status + "'style=' color: #449d44;'>\n" +
                            "<td>" + info.floorNumber + "楼" + info.roomId +
                            "<td>" + info.crow + "-" + info.cell + "</td>" +
                            "<td>" + isValid + "</td>" +
                            "<td>" + info.createAtStr + "</td>" +
                            "</td></tr>"
                        )
                    } else {
                        isValid = "过期"
                        $("#recordInfo").append("<tr id='infoFlag' class='" + status + "'>\n" +
                            "<td>" + info.floorNumber + "楼" + info.roomId +
                            "<td>" + info.crow + "-" + info.cell + "</td>" +
                            "<td>" + isValid + "</td>" +
                            "<td>" + info.createAtStr + "</td>" +
                            "</td></tr>"
                        )
                    }
                }
                $("#recordInfo").append("<tr id='infoFlag'>\n" +
                    "                <td>\n" +
                    "                    <ul class='pager'>\n" +
                    "                        <li><a href='#' id='previous'>&laquo;</a></li>\n" +
                    "                    </ul>\n" +
                    "                </td>\n" +
                    "                <td></td>\n" +
                    "                <td></td>\n" +
                    "                <td>\n" +
                    "                    <ul class='pager'>\n" +
                    "                        <li><a href='#' id='next'>&raquo; </a></li>\n" +
                    "                    </ul>\n" +
                    "                </td>\n" +
                    "            </tr>")
            }
        })
    }

    // 上下翻页
    $("#recordInfo").delegate("#previous", "click", function () {
        $("#recordInfo").find("tbody").remove();
        pageNumber = pageNumber - 1;
        getUserInfoOfSelectedChair(pageNumber);
    });
    $("#recordInfo").delegate("#next", "click", function () {
        $("#recordInfo").find("tbody").remove();
        pageNumber = pageNumber + 1;
        getUserInfoOfSelectedChair(pageNumber);
    });

    // 控制选座时间
    function setChairStatus(){
        chairJs.setChairStatus();
    }



</script>
</body>
</html>